pkgbase = ternline-bin
	pkgdesc = Terminal workspace for local and remote development (alpha)
	pkgver = 0.2.1alpha9
	pkgrel = 1
	url = https://github.com/nassimna/ternline
	arch = x86_64
	license = GPL-3.0-or-later
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = bubblewrap
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = openssh
	depends = pango
	depends = systemd
	optdepends = git: repository metadata in terminal panes
	optdepends = org.freedesktop.secrets: encrypted search and managed SSH credentials
	provides = ternline=0.2.1alpha9
	conflicts = ternline
	conflicts = agent-workspace
	options = !strip
	options = !debug
	source = https://github.com/nassimna/ternline/releases/download/v0.2.1-alpha.9/agent-workspace-0.2.1-alpha.9-x86_64.deb
	source = ternline-cli
	sha256sums = fa7643a6a22c58d57821672be4a40bd289978c6e73fe78b02292644a8a85c922
	sha256sums = d70434075b4c101b23f6fee8c9cd2424098c04cf83a6573053c3996cb5afe559

pkgname = ternline-bin
